@font-face {
    font-family: 'AvertaCY-Black';
    src: url('./Averta.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'AvertaCY-BlackItalic';
    src: url('./Averta.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'AvertaCY-Bold';
    src: url('./Averta.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'AvertaCY-BoldItalic';
    src: url('./Averta.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'AvertaCY-Extrabold';
    src: url('./Averta.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'AvertaCY-ExtraboldItalic';
    src: url('./Averta.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'AvertaCY-Extrathin';
    src: url('./Averta.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'AvertaCY-ExtrathinItalic';
    src: url('./Averta.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'AvertaCY-Light';
    src: url('./Averta.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'AvertaCY-LightItalic';
    src: url('./Averta.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'AvertaCY-Regular';
    src: url('./Averta.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'AvertaCY-RegularItalic';
    src: url('./Averta.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'AvertaCY-Semibold';
    src: url('./Averta.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'AvertaCY-SemiboldItalic';
    src: url('./Averta.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'AvertaCY-Thin';
    src: url('./Averta.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'AvertaCY-ThinItalic';
    src: url('./Averta.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: auto;
}

@font-face {
    font-family: 'Pico Black';
    src: url('./PicoBlack.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: auto;
}