$main-display: grid;

$color_1: #000;
$color_2: #838383;
$color_3: #fff;
$color_4: #444;
$color_5: #ed2290;
$color_6: #2d2d63;
$font-family_1: 'DM Sans',
sans-serif;
$font-family_2: AvertaCY-Regular,
sans-serif;
$font-family_3: AvertaCY-Semibold,
sans-serif;
$font-family_4: AvertaCY-Light,
sans-serif;
$font-family_5: AvertaCY-Thin,
sans-serif;
$font-family_6: AvertaCY-Bold,
sans-serif;
$background-color_1: transparent;
$background-color_2: #ed2290;
$background-color_3: #fff;
$background-color_4: #000;
$background-color_5: #2d2d63;

.w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
}

.slide_1,
.slide_2,
.slide_3,
.slide_4 {
    display: $main-display;
}

// SUMMARY SLIDE
.slide_1 {
    display: $main-display;

    &__grid {
        position: relative;
        overflow: hidden;
        justify-items: center;
        align-items: center;
        grid-template-rows: auto;
        grid-column-gap: 0px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        -ms-grid-rows: auto;
    }

    &__column-1 {
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        width: 50vw;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
    }

    &__column-2-margin {
        margin-right: 2px;
        margin-left: 16px;

        .heading {
            display: block;
            margin-top: 0px;
            margin-bottom: 0px;
            font-family: $font-family_3;
            color: $color_1;
            font-size: 72px;
            line-height: 1;
            font-weight: 600;
            text-align: left;
            letter-spacing: -6px;
        }

        .subhead {
            display: block;
            margin-top: 0px;
            margin-bottom: 0px;
            font-family: $font-family_2;
            color: $color_2;
            font-size: 26px;
            line-height: 1;
            font-weight: 400;
            text-align: right;
            letter-spacing: -1.2px;
        }
    }

    .side_1_column-2 {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 50vw;
        height: 100vh;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
    }

}

.slide_2 {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    position: -webkit-sticky;
    position: sticky;
    height: 100vh;
    top: 0px;
    z-index: 2;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;

    &__grid {
        position: relative;
        justify-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        grid-column-gap: 0px;
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;

        .demo_sub_container {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            width: 20vw;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
        }


    }

    &__column-2-margin {
        display: block;
        margin-left: 70px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .title_div-copy {
        position: relative;
        overflow: visible;
        margin-top: 140px;
        margin-bottom: 16px;
        position: relative;
        overflow: visible;
        margin-top: 140px;
        margin-bottom: 16px;

        .slide_title_copy_white-problem-copy {
            position: relative;
            display: block;
            margin-top: 0px;
            margin-bottom: 16px;
            font-family: $font-family_3;
            color: $color_5;
            font-size: 72px;
            line-height: 1;
            font-weight: 600;
            text-align: left;
            letter-spacing: -6px;
        }
    }

    .slide_line_1-3_copy {
        display: block;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}