$main-display: grid;
$color_1: #000;
$color_2: #838383;
$color_3: #fff;
$color_4: #444;
$color_5: #ed2290;
$color_6: #2d2d63;
$font-family_1: "DM Sans",
sans-serif;
$font-family_2: AvertaCY-Regular,
sans-serif;
$font-family_3: AvertaCY-Semibold,
sans-serif;
$font-family_4: AvertaCY-Light,
sans-serif;
$font-family_5: AvertaCY-Thin,
sans-serif;
$font-family_6: AvertaCY-Bold,
sans-serif;
$background-color_1: transparent;
$background-color_2: #ed2290;
$background-color_3: #fff;
$background-color_4: #000;
$background-color_5: #2d2d63;

// SUMMARY SLIDE
.slide_1 {
    display: grid;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100vw;

    &__header {
        display: grid;
        width: 100%;
        padding: 20px 40px 0;
    }

    .logo-container {
        img {
            width: 8.5vw;
            height: auto;
        }
    }

    &__grid {
        position: relative;
        overflow: hidden;
        justify-items: center;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 1px;
        grid-row-gap: 1px;
        width: 100%;
    }

    .column_1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

        .column_1-margin {
            margin-right: 2px;
            margin-left: 16px;
        }

        .heading {
            font-family: $font-family_3;
            color: $color_1;
            font-size: 13vh;
            letter-spacing: -10px;
            display: block;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .subhead {
            font-family: $font-family_2;
            color: $color_2;
            font-size: 4vh;
            letter-spacing: -1.2px;
            text-align: right;
            display: block;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
}